<a href="https://colab.research.google.com/github/MRadityaAdhirajasa/Machine-Learning/blob/main/prak_ML_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1

*   Pemrograman dasar di python

## Variable
Deklarasi nilai ke dalam variabel

In [ ]:
# input "B" ke dalam variabel A
A = 8
print(A)
print("Output",A)

8
Output 8

In [ ]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [ ]:
# input nilai sebagai list
nilai = [70, 80, 90, 100, 85]
print(nilai)
# nilai

[70, 80, 90, 100, 85]

[70, 80, 90, 100, 85]

In [ ]:
data = [80, "A", "Joni"]
print(data)

[80, 'A', 'Joni']

## Conditional


*   mengeklusi nilai berdasar kondisi

In [ ]:
if 7 == A:
  print("Nilai 7 sama dengan nilai A yang mana adalah",A)
else :
  print("Nilai 7 tidak sama dengan nilai A yang mana adalah",A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [ ]:
# mengecek nilai di dalam list
if 70 in nilai:
  print("ada nilai 70 di dalam list")
else:
  print("tidak ada di dalam list")

ada nilai 70 di dalam list

## Looping


*   mengeksekusi nilai berdasarkan perulangan

In [ ]:
# mencetak perkalian angka 2 dengan angka 0 sampai 10
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

## Function

### User Define Function
*   List item

In [ ]:
# Fungsi yang mencetak suatu nilai
def cetak_a():
  print("A")

# panggil fungsi cetak_a
  cetak_a()

In [ ]:
# Fungsi yang mengembalikan suatu nilai dari suatu masukan
def cetak_pangkat_dua(x):
  x=x**2
  return x

#panggil fungsi cetak_pangkat_dua dengan input tertentu
cetak_pangkat_dua(4)

16

### Built-in Function


*   memanggil fungsi bawaan python

In [ ]:
nilai = [70, 80, 90, 100, 85]
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak nilai terbesar dari list
print(max(nilai))

# untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
*   sekumpulan kode yang memiliki fungsi-fungsi tertentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

# inisiasi vector dan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value = 10

# operasi perkalian vector-skalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns=["nilai"])
df #dataframe

   nilai
0     70
1     80
2     90
3    100
4     85

## Tugas

In [ ]:
# Nomor 1
import numpy as np

# inisiasi vector
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)

list2 = [2,4,6,8,10]
vtr2 = np.array(list2)

vtr_hasil = vtr1 * vtr2
print(vtr_hasil)

[ 2  8 18 32 50]

In [58]:
# Nomor 2

# Deklarasi library
import pandas as pd

# List data
data = {
  "Mahasiswa": ['Andi','Budi','Caca','Didi'],
  "Nilai": [7,6,10,8]
}

df = pd.DataFrame(data)

# Kondisi 
df.loc[df["Nilai"] >= 7, 'Keterangan'] = 'Lulus' 
df.loc[df["Nilai"] < 7, 'Keterangan'] = 'Belum Lulus' 

# Menampilkan tabel
df

  Mahasiswa  Nilai   Keterangan
0      Andi      7        Lulus
1      Budi      6  Belum Lulus
2      Caca     10        Lulus
3      Didi      8        Lulus

In [57]:
# Nomor 3

# len untuk menghitung jumlah lulus yang terdapat pada sebuah column dan size untuk jumlah data pada column
hasil = len(df[df['Keterangan'] == 'Lulus'].columns)/df['Keterangan'].size*100

#sep untuk menghilangkan spasi antara output data dan persen
print(hasil,"%", sep='')

75.0%